# Virtual environment (used to isolate project dependencies)
em_venv/
.env

# Log files (used to record events and errors)
*.log
logs/

# Python bytecode cache files (generated automatically)
__pycache__/
*.py[cod]

# IDE configuration files (for Visual Studio Code and JetBrains IDEs)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace